body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: linen;
  font-size: 1.2em;
}
#img-div {
  background-color: white;
  margin: 2rem 0 2rem 3rem;
  width: 90%;
  border-radius: 2em;
}
#image {
  width: 95%;
  border-radius: 10px;
}
#img-caption {
  font-size: 1em;
  padding: 10px;
  width: 95%;
}

ul {
  text-align: center;
}
li {
  text-align: left;
  margin-left: 2rem;
  line-height: 2em;
}
#cite {
  max-width: 50em;
  text-align: center;
  margin-left: 15%;
}
#tribute-link {
  text-decoration: none;
}
